html{
    box-sizing: border-box;
    font-size: 10px;
    padding:0;
    margin:0;   
    overflow: hidden;
}

body{   
    font-family: Raleway, sans-serif;
    min-height: 100vh;
}

.gameMenu{
    border: 1px solid black;
    display:grid;
    grid-template-areas: 
        "difficulty difficulty"
        "playerSelect playerSelect"
        "mainGame mainGame"
        "gameOptions gameOptions"
    ;
    margin:auto; 
    width:60%;
}

.difficulty{
    grid-area: difficulty;
    margin:5px 5px 15px;
    display:flex;
    justify-content:center;
}

select{
    display:none;
    border: .5px solid black;
    border-radius: 5px;
    color: #203647;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    outline: none;
    background-color:white;
}

.players{
    display:flex;
    grid-area: playerSelect;
    justify-content:space-around;
}

.players--button__x , .players--button__o{
    background-color:white;
    border-radius: 5px;
    font-size: 1.5rem;
    height:3rem;
    width: 25%;
    border:none;
}

.players--button__unselected{
    border: 2px solid rgb(211, 211, 211);
    color: grey;
    font-weight: 600;
}

.players--button__selected{
    border: 2px solid black;
    color: black;
    font-weight: 800;
}

.mainGame{
    grid-area: mainGame;
    margin:10px;
    background-color: rgb(55, 1, 117);
    height:350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainGame--title{
    font-size: 10rem;
    margin: 1rem;
    text-align: center;
}

.mainGame--selectEnemy{
    display:none;
    flex-flow: column;
    align-self: flex-start;
}

.mainGame--selectEnemy > p{
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
}

.pictures{
    display:flex;
    flex-flow: row;
}

.pictures--simple{
    display:flex;
    flex-flow: column;
    border: 1px solid black;
    margin: 0 3rem;
    background-color: white;
    border-radius: 10px;
}

.pictures--simple:hover{
    background-color: rgb(184, 167, 167);
}

.pictures--simple > p{
    font-size:1.5rem;
    margin: 0;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
}

.pictures--simple > img{
    width:200px;
    height:200px;
}

.title--vline{
    position:absolute;
    border-right: 5px solid black;
    height:0px;
    right:49.4%;
    animation: slider 2s linear 3s forwards;
}

@keyframes slider{
    0%{
        height: 0px
    }
    50%{
        height: 35rem;
    }
    75%{
        height: 35rem;
    }
    100%{
        height: 0px;
    }
}

.title--letters{
    margin:0;
    transform: translateY(-50px);
    opacity:0;
    transition: all 0.5s ease-in;
}

.ttshow{
    opacity:1;
    transform: translateY(0px);
}

.ttfade{
    opacity:0;
    transform: translateX(50px)
}

.mainGame--board{
    display:none;
    grid-area: gameBoard;
   
    margin:1rem;
    align-items: center;
    flex-flow: column;
    justify-content: center;
}

.row{
    width:fit-content;
    font-size: 0;
}

.boardSquare{
    width:10rem;
    height: 10rem;
    border:none;
    background:rgb(55, 1, 117);
    margin:0;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
}

.border-r{
    border-right: 5px solid black;
}
.border-b{
    border-bottom: 5px solid black;
}
.gameOptions{
    align-items: center;
    display:flex;
    font-size: 1.5rem;
    grid-area: gameOptions;
    justify-content: space-around;
    margin: 1rem;
}

.gameOptions--restartGame{
    border: .5px solid black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    height: 10rem;
    width: 70%;
    box-shadow: 8px 8px grey;
}

.gameOptions--restartGame:active{

    box-shadow: 4px 4px black;
    transform: translateY(4px);
}